@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model MealBox.Models.Classes.User

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@Model.Name @Model.Surname</span>
                <span class="text-black-50">@Model.Mail</span>
            </div>
        </div>

        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form asp-action="EditProfile" method="post">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="First Name" />
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Surname</label>
                            <input type="text" class="form-control" name="Surname" value="@Model.Surname" placeholder="Surname" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input type="text" class="form-control" name="Phone" value="@Model.Phone" placeholder="Enter phone number" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 1</label>
                            <input type="text" class="form-control" name="AddressLine1" value="" placeholder="Enter address line 1" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 2</label>
                            <input type="text" class="form-control" name="AddressLine2" value="" placeholder="Enter address line 2" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Postcode</label>
                            <input type="text" class="form-control" name="Postcode" value="" placeholder="Enter postcode" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">State</label>
                            <input type="text" class="form-control" name="State" value="" placeholder="Enter state" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Area</label>
                            <input type="text" class="form-control" name="Area" value="" placeholder="Enter area" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email ID</label>
                            <input type="text" class="form-control" name="Mail" value="@Model.Mail" placeholder="Enter email ID" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Education</label>
                            <input type="text" class="form-control" name="Education" value="" placeholder="Enter education" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Country</label>
                            <input type="text" class="form-control" name="Country" value="" placeholder="Country" />
                        </div>
                        <div class="col-md-6">
                            <label class="labels">State/Region</label>
                            <input type="text" class="form-control" name="Region" value="" placeholder="State/Region" />
                        </div>
                    </div>

                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>

        
    </div>
</div>
