@using MealBox.Models.Classes;
@model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
Ürünlerim 
</h2>

<br/>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün Adı</th>
        <th>Açıklama</th>
        <th>Satıcı Marka</th>
        <th>Stok</th>
        <th>Fiyat</th>
        <th>Durum</th>
        <th>Görsel</th>
        <th>Kategori</th>
        <th>İl</th>
        <th>İlçe</th>
        <th>Mahalle</th>
        <th>Sil</th>
        <th>Güncelle</th>

        

    </tr>
    @foreach(var p in Model)
    {
        <tr>
            <td>@p.ProductID</td>
            <td>@p.ProductName</td>
            <td>@p.ProductDescription</td>
            <td>@p.Brand</td>
            <td>@p.Stock</td>
            <td>@p.Price</td>
            <td>@p.Status</td>
            <td>@p.Image</td>
            <td>@p.Category.CategoryName</td>
            <td>@p.Province</td>
            <td>@p.Town</td>
            <td>@p.District</td>
            <td><a href="/Product/DeleteProduct/@p.ProductID" class="btn btn-danger">Sil</a></td>
            <td>
                <a href="/Product/GetProduct/@p.ProductID" class="btn btn-success">Güncelle</a>
            </td>
        </tr>
    }

</table>
<a href="/Product/NewProduct/" class="btn btn-primary">Yeni Ürün Ekle</a>